/* add your CSS here */

.card {
	width: 320px;
	border: 2px solid darkgreen;
	padding: 20px;
	margin: 5px;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIBgePSmhhBKp0FipmGfXg2mx_0C_kFwafSeAE3lSjGDR_9N9ngQ");
	box-shadow: 5px 5px lightgray;
	font-family: serif, sans-serif;
}

img {
	width: 300px;
	height: auto;
	border: 2px solid green;
	margin: 10px;
}

h3 {
	text-align: center;
	margin: 10px;
	border: 2px solid green;
	background-color: #43a014;
}

#int-fact{
	font-style: italic;
}

ul {
	list-style: none;
}

span {
	font-weight: bold;
}

.info {
	border: 1px solid gray;
	padding: 6px;
	box-sizing: border-box;
	border: 2px solid green;
	background-color: rgba(255, 255, 255, .5);